.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  background: url(BG1.jpg) no-repeat;
  background-size: cover;
}
p {
	
	font-family: Courier New;
}